node_modules
dist
.DS_Store
.git
.svn
.hg
.venv
venv
env
target
coverage
.pytest_cache
__pycache__
*.pyc
*.pyo
*.py
tests
test
__tests__
e2e
cypress
playwright
*.spec.js
*.spec.jsx
*.spec.ts
*.spec.tsx
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
